@import "./core/reset";
@import "./core/variables";
@import "./core/distribution";
@import "./components/header";
@import "./components/main";
@import "./components/aside";
@import "./components/footer";

// COLORES CAJAS -PARA BORRAR
.header {
  border: solid 3px red;
  &__link {
    border: solid 3px green;
  }
  &__box {
    border: solid 3px yellow;
  }
}
.main {
  border: solid 3px black;
}
.aside {
  border: solid 3px blue;
  &__grip {
    border: solid 3px orange;
  }
  // &__button {
  //   border: solid 3px purple;
  // }
}
// .footer {
//   border: solid 3px brown;
//   &__menu1 {
//     border: solid 3px pink;
//   }
//   &__menu2 {
//     border: solid 3px aqua;
//   }
//   &__copyright {
//     border: solid 3px seagreen;
//   }
// }
