<aside class="aside" id="aside">
  <div class="aside__wrapper">
    <h2 class="aside__title">3 Reasons To Purchase</h2>
    <article class="aside__item2">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="aside__item3">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="aside__item4">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <div class="aside__item5">
      <a class="aside__link" title="Conocer más razones" href="#"
        >More reasons</a
      >
    </div>
  </div>
  <div class="aside__buttonbox">
    <div class="aside__button">
      <a class="aside__button--link" title="Ir arriba" href="#"
        ><img src="./assets/images/ico-arrow.svg" alt="Link subir arriba"
      /></a>
    </div>
  </div>
</aside>
