<aside class="aside">
  <div class="aside__grip">
    <h2>3 Reasons To Purchase</h2>
    <article>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article>
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article>
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <div>
      <a title="Conocer más razones" href="#">More reasons</a>
    </div>
  </div>
  <div class="aside__button">
    <a class="aside__button--link" title="Ir arriba" href="#"
      ><img src="./ico-arrow.svg" alt="Link subir arriba"
    /></a>
  </div>
</aside>
