<footer class="footer">
  <nav class="footer__menu1">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Ir a artículos" target="blank"
          >Articles</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a libros" target="blank"
          >Books</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a eventos" target="blank"
          >Events</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a razones" target="blank"
          >Reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a consejos" target="blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__menu2">
    <ul>
      <li>
        <a href="https://adalab.es/" title="Ir a Twitter" target="blank"
          >Twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a Instagram" target="blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Ir a MastodonS" target="blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__copyright">
    <small>&copy; 2017</small>
    <small>we &#9829; components</small>
  </div>
</footer>
