<footer class="footer">
  <nav class="footer__menu1">
    <ul>
      <li><a href="#" title="Ir a artículos">Articles</a></li>
      <li><a href="#" title="Ir a artículos">Books</a></li>
      <li><a href="#" title="Ir a artículos">Events</a></li>
      <li><a href="#" title="Ir a artículos">Reasons</a></li>
      <li><a href="#" title="Ir a artículos">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__menu2">
    <ul>
      <li><a href="#" title="Ir a artículos">Twitter</a></li>
      <li><a href="#" title="Ir a artículos">Instagram</a></li>
      <li><a href="#" title="Ir a artículos">Mastodon.social</a></li>
    </ul>
  </nav>
  <div class="footer__copyright">
    <small>&copy; 2017</small>
    <small>we &#9829; components</small>
  </div>
</footer>
