<header class="header">
  <a target="blank" class="header__link" title="Menú" href="https://adalab.es/"
    ><img src="./assets/images/ico-menu.svg" alt="Logo menu"
  /></a>
  <div class="header__box">
    <h1 class="header__title"><span>Anonymus</span> <span>Proxy</span></h1>
    <p class="header__content">In hac habitasse platea dictumst.</p>
    <button
      class="header__box-link"
      title="Ir a la siguiente sección"
      href="#aside"
    >
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="Link ir hacia abajo"
      />
    </button>
  </div>
</header>
