<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Módulo 1 evaluación final</title>
  
</head>
<body>
  <header>
    <a class="header__link" title="Menú" href="#"><img src="./ico-menu.svg" alt="Logo menu"/></a>
    <div class="header__box"> 
    <h1>Anonymus Proxy</h1>
    <p>In hac habitasse platea dictumst.</p>
    <a title="Ir a la siguiente sección" href="#"><img src="./ico-arrow.svg" alt="Link ir hacia abajo"/></a>
    </div>
  </header>
  <main>
    <small class="main__small">Insomnia Tips</small>
    <h2 class="main__title">Looking Through A Window</h2>
    <p class="main__content">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <a class="main__link" title="Ir al artículo" href="#">Go</a>
  </main>
  <aside>
    <div class="aside-grip">
    <h2>3 Reasons To Purchase</h2>
    <article>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article>
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article>
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <div>
    <a title="Conocer más razones" href="#">More reasons</a>
    </div>
    </div>
    <div class="aside">
      <a class="aside__link" title="Ir arriba" href="#"><img src="./ico-arrow.svg" alt="Link subir arriba"/></a>
    </div>
  </aside>
  <footer class="footer">
    <nav class="footer_menu1">
      <ul>
        <li><a href="#" title="Ir a artículos">Articles</a></li>
        <li><a href="#" title="Ir a artículos">Books</a></li>
        <li><a href="#" title="Ir a artículos">Events</a></li>
        <li><a href="#" title="Ir a artículos">Reasons</a></li>
        <li><a href="#" title="Ir a artículos">Tips</a></li>
      </ul>
    </nav>
    <nav class="footer_menu2">
      <ul>
        <li><a href="#" title="Ir a artículos">Twitter</a></li>
        <li><a href="#" title="Ir a artículos">Instagram</a></li>
        <li><a href="#" title="Ir a artículos">Mastodon.social</a></li>
      </ul>
    </nav>
    <div class="copyright">
    <small>&copy; 2017</small>
    <small>we &#9829; components</small>
    </div>
  </footer>
  
</body>
</html>
</html>
