.aside {
  background-color: #eff9ff;
  &__title {
    font-family: $fonttitle;
    font-size: 24px;
    line-height: 30px;
    color: black;
  }
  &__item2 {
    @include aside-text;
    font-family: $fonttitle;
  }
  &__item3 {
    @include aside-text;
    font-family: $fonttitle;
  }
  &__item4 {
    @include aside-text;
    font-family: $fonttitle;
  }
  p {
    @include aside-text;
    font-family: $fontcontent;
  }
  &__link {
    background-color: $colororange;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: $fontcontent, medium;
    display: flex;
    justify-content: center;
    width: 184px;
    height: 45px;
    align-items: center;
  }
  &__link:hover {
    transform: scale(1.25);
    transition-duration: 2s;
    box-shadow: 0 10px 5px #c3c2ba;
    border: solid #f87800 1px;
  }

  &__item5 {
    // width: 184px;
    // height: 45px;
    display: flex;
    justify-content: center;
  }
  &__button {
    background-color: white;
    border-radius: 22.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

@media all and (min-width: 768px) {
  .aside {
    &__title {
      font-size: 26px;
      line-height: 45px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
    &__link {
      width: 210px;
    }
  }
}

@media all and (min-width: 1200px) {
  .aside {
    &__title {
      font-size: 32px;
    }
    &__link {
      width: 255px;
    }
  }
}
