.footer {
  background-color: $colorbackgroundfooter;
  a {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-family: $fontcontent;
  }
  &__copyright {
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 30px;
  }
  &__heart {
    color: $colororange;
  }

  &__animation {
    animation-name: heart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  @keyframes heart {
    from {
      transform: none;
    }
    50% {
      transform: scale(4);
    }
    to {
      transform: none;
    }
  }

  &__menu1 {
    @include footer-menus;
  }
  &__menu2 {
    @include footer-menus;
  }
}
