.footer {
  background-color: $colorbackgroundfooter;
  a {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-family: $fontcontent;
  }
  &__copyright {
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-family: $fontcontent;
  }
  &__heart {
    color: $colororange;
    // animation-name: heart;
    // animation-duration: 10s;
    // animation-iteration-count: infinite;
    // transform-origin: center;
  }
  // @keyframes heart {
  //   from {
  //     transform: none;
  //   }
  //   50% {
  //     transform: scale(1.25);
  //   }
  //   to {
  //     transform: none;
  //   }
  // }
  &__menu1 {
    @include footer-menus;
  }
  &__menu2 {
    @include footer-menus;
  }
}
