.header {
  color: #fff;
  &__title {
    font-family: $fonttitle;
  }

  &__content {
    font-family: $fontcontent;
  }
  &__box-link {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
  }
}

@media all and (min-width: 320px) {
  .header {
    &__title {
      @include header-mobile-title;
    }
    &__content {
      font-size: 16px;
    }
  }
}
@media all and (min-width: 768px) {
  .header {
    &__title {
      @include header-tablet-title;
    }
    &__content {
      font-size: 24px;
    }
  }
}

@media all and (min-width: 1200px) {
  .header {
    &__title {
      @include header-desktop-title;
    }
  }
}
