// DISTRIBUCIONES MOBILE
// HEADER//
.header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  height: 568px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 284px;

  &__link {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0271bc;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__box-link {
    padding-top: 45px;
  }
}

// MAIN//
.main {
  height: 19%;
  padding-left: 15px;
  padding-right: 15px;
}

// ASIDE
.aside {
  height: 31%;
  padding-top: 30px;
  position: static;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 138px 138px 138px 105px;
    text-align: center;
  }
  &__button {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -774px;
  }
  &__buttonbox {
    display: flex;
    justify-content: center;
  }
}

// FOOTER
.footer {
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__menu1 {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  &__menu2 {
    padding-bottom: 30px;
  }
  &__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 45px;
  }
}
