// DISTRIBUCIONES MOBILE
// HEADER//
.header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  height: 568px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 284px;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0271bc;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__box-link {
    padding-top: 45px;
  }
}

// MAIN//
.main {
  height: 19%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 45px;
  &__title {
    padding-bottom: 15px;
  }
  &__content {
    padding-bottom: 30px;
  }
}
// ASIDE
.aside {
  height: 31%;
  padding-top: 30px;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 138px 138px 138px 105px;
    text-align: center;
  }
  &__title {
    align-self: center;
  }
  &__item5 {
    align-self: center;
  }
  &__item2 {
    align-self: center;
  }
  &__item3 {
    align-self: center;
  }
  &__item4 {
    align-self: center;
  }
  &__button {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -878px;
  }
  &__buttonbox {
    display: flex;
    justify-content: center;
  }
}

// FOOTER
.footer {
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__menu1 {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  &__menu2 {
    padding-bottom: 30px;
  }
  &__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 45px;
  }
}

// DISTRIBUCIÓN TABLET

// ASIDE

@media all and (min-width: 768px) {
  .aside {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 75px 157px 165px;
      text-align: center;
    }
    &__title {
      grid-column: 1 / 4;
    }
    &__item5 {
      grid-column: 2 / 3;
    }
    &__button {
      position: absolute;
      top: 1203px;
    }
  }
}

// FOOTER
@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 39px;
    padding-right: 39px;

    &__copyright {
      order: 1;
      text-align: start;
    }
    &__menu1 {
      order: 2;
      text-align: start;
      padding-top: 33px;
    }
    &__menu2 {
      order: 3;
      text-align: start;
    }
  }
}
//  DISTRIBUCIÓN DESKTOP

@media all and (min-width: 1200px) {
  .main,
  .header {
    padding: 0 275px 0 275px;
  }
}
