// fonts
$fonttitle: "Roboto Slab", bold;
$fontcontent: "Roboto";
// colors

// MIXINS

// header
@mixin header-mobile-title {
  font-size: 42px;
  line-height: 55px;
}

@mixin header-tablet-title {
  font-size: 80px;
  line-height: 106px;
}
@mixin header-desktop-title {
  font-size: 100px;
  line-height: 132px;
}
//  aside

@mixin aside-text {
  font-size: 18px;
  line-height: 30px;
  color: black;
}
